There's not much here, now is there?
Here's the viewer, if any:
&= @game.inspect
%form{ :action => '/games', :method => :post }
  Label:
  %input{ :type => :text, :name => 'label', :value => 'control' }
  %input{ :type => :submit }
