%h1 Admin Area
%h2 Games
- if locals[:games].empty?
  %p.text-info No games have been played
- else
  %ul.inline
    %li
      %a{ :href => to('/games/csv') }
        %i.icon-file
        Download All Games CSV
    %li
      %a{ :href => to('/games/csv?filter=complete') }
        %i.icon-file
        Download Complete Games CSV
  %table.table
    %tr
      %th Id
      %th Label
      %th Score
      %th Complete?
      %th See More
    - locals[:games].each do |game|
      %tr
        %td= game.id
        %td= game.label
        %td= game.score
        %td
          - if game.complete?
            %i.icon-check
          - else
            %i.icon-remove
        %td
          %a{ :href => to("/games/#{game.id}") }
            See More
            %i.icon-chevron-right
