%h1 Admin Area
%h2 Games
%form{ :method => :post, :action => to('/games') }
  %ul.inline
    %li
      %a{ :href => to('/games?filter=complete') }
        %i.icon-filter
        Complete
    %li
      %a{ :href => to('/games?filter=not-empty') }
        %i.icon-filter
        Some Play
    %li
      %a{ :href => to('/games?filter=empty') }
        %i.icon-filter
        No Play
    %li
      %a{ :href => to('/games?filter=all') }
        %i.icon-filter
        All
    %li
      %a{ :href => to('/games?filter=archived') }
        %i.icon-filter
        Archived
    %li
      %button.btn{ :type => :submit, :name => :type, :value => :csv }
        %i.icon-download
        Download CSVs
    %li
      - if filter == 'archived'
        %button.btn{ :type => :submit, :name => :type, :value => :unarchive }
          %i.icon-flag
          Unarchive
      - else
        %button.btn{ :type => :submit, :name => :type, :value => :archive }
          %i.icon-flag
          Archive
  - if locals[:games].empty?
    %p.text-error
      - case filter
      - when 'complete'
        There are no complete games
      - when 'empty'
        There are no unplayed games
      - when 'not-empty'
        There are no partially played games
      - when 'archived'
        There are no archived games
      - when 'all'
        There are no non-archived games
  - else
    %table.table.table-striped
      %tr
        %th
          %i.icon-check
        %th Id
        %th Label
        %th Score
        %th Complete?
        %th See More
      - locals[:games].each do |game|
        %tr
          %td
            %input{ :type => 'checkbox', :name => 'games[]',
                    :value => game.id, :checked => :checked }
          %td= game.id
          %td= game.label
          %td= game.score
          %td
            - if game.complete?
              %i.icon-check
            - else
              %i.icon-remove
          %td
            %a{ :href => to("/games/#{game.id}") }
              See More
              %i.icon-chevron-right
