!!!
%html
  %head
    %title WhatCrop Admin
    - if @subtitle
      = " - #{@subtitle}"
    %link{ :rel  => 'stylesheet', :href => to('/css/bootstrap.min.css') }
  %body
    .container.content
      = yield

    %script{ :src => to('/js/jquery-1.10.2.min.js') }
    %script{ :src => to('/js/bootstrap.min.js') }
