%form.form-inline{ :method => :post }
  %fieldset
    %legend Login
    %input.input-medium{ :type => :password, :name => :password, :placeholder => "Password" }
    %button.btn{ :type => :submit } Login
