%form.form-horizontal{ :method => :post }
  %fieldset
    %legend Login
    .control-group{ :class => ('error' if locals[:bad_password]) }
      %label.control-label{ :for => :password } Password
      .controls
        %input.input-medium{ :type => :password, :name => :password, :placeholder => "Password" }
        - if locals[:bad_password]
          %span.help-inline Incorrect password
    .control-group
      .controls
        %button.btn.btn-primary{ :type => :submit } Login
